.none {
  display: none;
}

.block {
  display: block;
}

.hidden {
  overflow: hidden;
}

.visible {
  overflow: visible;
}

.full-screen {
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000
}

.advert-loading {
  width: 30%;
  z-index: 1000;
}

.gravity-center {
  left: 50%;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bottom-fixed {
  bottom: 0;
  max-height: 30px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.root-bottom {
	margin-bottom: 30px;
	padding: 15px;
  text-align: center;
}

.root-bottom>img {
  width: 60%;
}